In [1]:
from keyword import kwlist, softkwlist

In [2]:
kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [3]:
softkwlist

['_', 'case', 'match', 'type']

In [24]:
a = set(kwlist) - set(['None'])
a = a - set(['pass'])
a = a - set(['is'])
a = a - set(['in'])
a = a - set(['del'])
a = a - set(['False', 'True'])
a = a - set(['and', 'or', 'not'])
a = a - set(['if', 'else', 'elif'])
a = a - set(['import', 'from', 'as'])
a = a - set(['async', 'await'])  # для асинхронных операций
a = a - set(['for', 'while', 'continue', 'break'])
a = a - set(['global', 'nonlocal'])  # не используем 
a = a - set(['try', 'catch', 'except', 'finally', 'assert', 'raise'])
a = a - set(['def', 'lambda', 'return', 'yield'])
a = a - set(['class'])
a = a - set(['with'])
a

{'pass'}

In [76]:
type(in)

SyntaxError: invalid syntax (935638655.py, line 1)

In [27]:
type(type)  # Тип, а так же функция возвращающая тип

type

In [26]:
None # означает ничего
type(None)

NoneType

In [28]:
# Затычка в пустые функции, означает ничего не делать
def f():
    pass

def f1():
    ...
    
f(), f1()

(None, None)

In [77]:
# is сравнивает один ли это и тот же объект в памяти
# id функция возвращает идентификатор объекта
a = [1,2,3]
b = [1,2,3]
c = a
a is b, a is c, id(a), id(b), id(c)

(False, True, 132959563060416, 132959373750528, 132959563060416)

In [78]:
a == b

True

In [32]:
# in проверяет вхождение элемента в итерируемый объект
5 in [1,2], 5 in set([1,5]), 5 in {4:5, 3:1}, 5 in (5,), 5 in range(5, 6)

(False, True, False, True, True)

In [33]:
a = 5
del(a)  # удаляет переменные
b = a

NameError: name 'a' is not defined

In [79]:
True + True, False + False, type(True), 1 + True

(2, 0, bool, 2)

In [38]:
# логические операции
not True, False and True, False or True

(False, False, True)

In [41]:
5 not in [1,5]

False

In [80]:
bool(0), bool(3), bool(-3), bool([]), bool({}), bool(set()), bool(tuple()), bool(''), bool([1]), bool([[]])

(False, True, True, False, False, False, False, False, True, True)

In [83]:
# условный оператор
a = int(input())
if a == 5:
    print('input', 5)
elif a == 6:
    print('input', 6)
elif a == 7:
    print('input', 7)
else:
    print('ha')

6
input 6

In [43]:
import math

math.sin(5)

-0.9589242746631385

In [44]:
from math import sin

sin(5)

-0.9589242746631385

In [45]:
import math as m

m.sin(5)

-0.9589242746631385

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# вечный цикл
while True:
    print('hi')

In [47]:
a = '   aAa   '
a.strip(), a.lower(), a.strip().lower()

('aAa', '   aaa   ', 'aaa')

In [84]:
a = ''
while a.strip().lower() != 'end':
    if len(a.strip().lower()): 
        print(f"Все говорят: '{a}'. А ты купи слона!")
    else:
        print("Купи слона!")
    a = input()

Купи слона!
не хочу
Все говорят: 'не хочу'. А ты купи слона!
отстань!
Все говорят: 'отстань!'. А ты купи слона!
   enD

In [85]:
a = 3
while a:
    print(a)
    a = a - 1

3
2
1

In [86]:
a = 3
a -= 1  # a*=2, a+=, a/= ... 
a

2

In [87]:
a = 3
while a:
    print(a)
    a = a - 1
    if a == 1:
        break

3
2

In [88]:
a = 3
while a:
    print(">", a)
    a = a - 1
    print("<", a)
    print()

> 3
< 2

> 2
< 1

> 1
< 0

In [90]:
a = 3
while a:
    print(">", a)
    a = a - 1
    continue
    print("<", a)
    print()

> 3
> 2
> 1

In [91]:
a = 3
while a:
    print(">", a)
    a = a - 1
    if a == 1:
        continue
    print("<", a)
    print()

> 3
< 2

> 2
> 1
< 0

In [93]:
a = int(input())
print(10/a)
print("Корректное завершение программы")

0

ZeroDivisionError: division by zero

In [94]:
a = int(input())
try:
    print(10/a)
except ZeroDivisionError:
    print("Вы явно не выспались, на ноль делить нельзя!")
print("Корректное завершение программы")

0
Вы явно не выспались, на ноль делить нельзя!
Корректное завершение программы

In [104]:
a = int(input())
try:
    assert a in [1,2,3], "Ошибка! Мне не нравится это значение!"
    print(10/a)
    raise(Exception("я устал я ухожу"))
    print("Вы явно не выспались, на ноль делить нельзя!")
except AssertionError as err:
    print("Вы мне не нравитесь!")
    print(err)
except Exception: 
    print("Ладно как-нибудь еще поработаю")
print("Корректное завершение программы")

ф

ValueError: invalid literal for int() with base 10: 'ф'

In [ ]:
a = int(input())
try:
    print(10/a)
except ZeroDivisionError:
    print("Вы явно не выспались, на ноль делить нельзя!")
finally:
    del a # можно что-то сделать, что важно в любом случае, есть ошибка или нет
else:
    print("ошибки нет")
print("Корректное завершение программы")

In [110]:
import sys
 
sys.setrecursionlimit(10**6)


def f(a: int) -> int:
    print(">", a)
    if a == 1:
        return 1
    b = a * f(a-1)
    print("<", b)
    return b
    
    
f(4)

> 4
> 3
> 2
> 1
< 2
< 6
< 24

24

In [111]:
d = {
    'a': lambda x: x**2,
    'b': lambda x: x + 2,
}
d['a'](3)

9

In [113]:
from typing import Callable

def f(g: Callable) -> int|str:
    return g(5) + g(7)

In [114]:
def k(a: int):
    return str(a)

In [116]:
f(k), f(lambda x: x**2)

('57', 74)

In [117]:
f = lambda x: x+2

f(2)

4

In [132]:
def f(n: int) -> int:
    while n:
        print(">", n)
        yield n
        print("<", n)
        n -= 1

In [136]:
a = f(5)

In [134]:
next(a)

> 5

5

In [135]:
next(a)

< 5
> 4

4

In [138]:
for i in f(5):
    for j in f(2):
        print("---", i, j)

> 5
> 2
--- 5 2
< 2
> 1
--- 5 1
< 1
< 5
> 4
> 2
--- 4 2
< 2
> 1
--- 4 1
< 1
< 4
> 3
> 2
--- 3 2
< 2
> 1
--- 3 1
< 1
< 3
> 2
> 2
--- 2 2
< 2
> 1
--- 2 1
< 1
< 2
> 1
> 2
--- 1 2
< 2
> 1
--- 1 1
< 1
< 1

In [139]:
a = 5
for i in f(a):
    print("---", i)
    if i == 3:
        a = 10

> 5
--- 5
< 5
> 4
--- 4
< 4
> 3
--- 3
< 3
> 2
--- 2
< 2
> 1
--- 1
< 1

In [140]:
def f(n: int) -> int:
    s = 1
    while True:
        s += 1
        yield s

In [141]:
a = f(10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000)

In [142]:
next(a)

2

In [143]:
next(a)

3

In [147]:
a = (1,2,3,4,5,6)
[el**2 for el in a if el%2 == 0]

[4, 16, 36]

In [148]:
{k:k**2 for k in a}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [149]:
a = range(5)
b = iter(a)
next(b)

0

In [ ]:
main1.py
функция fib(n: int) -> tuple[int] возвращающая первые n чисел Фиббоначи, 
реализованная через рекурсию

функция sum_list(a: list[int]) -> int|None сумма элементов через цикл

функция max_list(a: list[int]) -> int|None максимальный элемент списка

функция max2_list(a: list[int]) -> tuple[int|None] два максимальных 
элемента в порядке убывания

функция min_max_list(a: list[int]) -> tuple[int|None] минимум и максимум
списка

функция mean_list(a: list[int]) -> float|None среднее значение списка

функция median_list(a: list[int]) -> float|None вернеть медиану списка

In [17]:
from math import log

def nlogn(n):
    return n * log(n)

def n2(n):
    return n * n

for i in range(1, 10):
    print(f"{10**i:>11}, {round(nlogn(10**i)):>11}, {n2(10**i):>20}")

         10,          23,                  100
        100,         461,                10000
       1000,        6908,              1000000
      10000,       92103,            100000000
     100000,     1151293,          10000000000
    1000000,    13815511,        1000000000000
   10000000,   161180957,      100000000000000
  100000000,  1842068074,    10000000000000000
 1000000000, 20723265837,  1000000000000000000

In [21]:
1000_000/(60*60*24)

11.574074074074074